@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

/* Home CSS file */

body {
  margin: 0px;
  background-color:white;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}
  
  /* Navbar */
  
  #menu {
    background: #000405;
    color: #FFF;
    height: 3rem;
    width: 100%;
    position: fixed;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #menu ul, #menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    
  }
  #menu li {
    float: left;
    display: inline;
    position: relative;
  }
  #menu a {
    display: block;
    line-height: 46px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
  }
  #menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
  }
  #menu li a:hover {
    color: #1a1a1a;
    background: #dedada;
  }
  #menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 46px;
    width: 100%;
    opacity: 0;
    cursor: pointer
  }
  #menu label {
    display: none;
    line-height: 46px;
    text-align: center;
    position: absolute;
    left: 35px
  }
  #menu label:before {
    font-size: 1.6em;
    content: "\2261"; 
    margin-left: 20px;
  }
  #menu ul.sub-menus{
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
  }
  #menu ul.sub-menus li {
    display: block;
    width: 100%;
  }
  #menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
  }
  #menu li:hover ul.sub-menus {
    display: block
  }
  #menu ul.sub-menus a:hover{
    background: #F2F2F2;
    color: #444444;
  }
    
  .spacer {
    padding: 8rem 0rem 8rem;
  }
    
  button {
    background-color:#000000;
    color:#f0f0f0;
    border-radius: 16px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.2rem;
  }
  
  button:hover {
    background-color:#f0f0f0;
    color: #000000;
  }
    
  
  @media screen and (min-width:800px) {
    .main-home {
      padding: 26rem 2rem 26rem 2rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/bgAboutMe.jpg);
      background-size:125%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .main-subtitle {
      padding: 1rem 0rem 1rem 0rem;
      text-align: center;
    }
  
    mark {
      background-color:#1a1a1a;
      padding: 1rem 0rem 1rem 0rem;
      color: #ffffff;
      text-align: center;
      font-size: 2rem;
      font-weight: bolder;
      font-family: Oswald, Arial;
    }
    
    .main-title {
      margin: 0px;
      position: relative;
      font-family: Impact, 'Arial Narrow Bold', sans-serif;
      font-size: 7rem;
      letter-spacing: 1.4px;
      word-spacing: -4px;
      color: #ffffff;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-transform: none;
    }
  
    .home-body1 {
      padding: 0rem 2rem 0rem 2rem;
      color:rgb(21, 34, 61);
      text-align: center;
    }
  
    .home-body1 h1 {
      font-size: 4rem;
    }
  
    .home-body1 h2 {
      color: #000000;
      font-size: 2rem;
    }
  
    #hb1-h2 {
      display: inline-block;
      padding: .25em 0;
      background: #000000;
      color: #ffffff;
  
    }
  
    
    /* Second Section */
  
    .home-body2 {
      text-align: center;
      padding: 7rem 2rem 7rem 2rem;
    }
  
    .home-body2 h1 {
      font-size: 4rem;
      color:#000000;
    }
  
    .home-body2 h2 {
      color: #000000;
      font-size: 2rem;
      padding: 0rem 8rem 0rem 8rem;
    }
  
    .home-body2 img {
      width: auto;
      height: 100%;
    }
  
    .gallery {
      display: flex;
      flex-direction: row;
      padding: 0rem 0rem 3rem 4rem;
      gap: 1%;
    }
  
    .gallery div {
      width: 30%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .big-img img{
      width: 209%;
      height: auto;
    }
  
    /* Studies section */

    #studyTitle {
      font-size: 4rem;
      text-align: center;
      padding-bottom: 4rem;
    }

    .study1 {
      color: white;
      padding: 4.5rem 9.5rem 4.5rem 9.5rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/aboutMeComputerScience.jpg);
      background-size:125%;
      background-repeat: no-repeat;
      background-position: center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
    }

    .study1 h2 {
      font-size: 3rem;
    }

    .study1 h3 {
      font-size: 2rem;
    }

    .study2 h2 {
      font-size: 3rem;
    }

    .study2 h3 {
      font-size: 2rem;
    }

    .study2 {
      color: white;
      padding: 4.5rem 9.5rem 4.5rem 9.5rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/aboutMeAppDev.jpg);
      background-size:125%;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
    }

    .places {
      display: flex;
      flex-direction: column;
    }

    .place {
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;
      padding: 4rem 10rem;
    }

    .place h2 {
      text-align: center;
      font-size: 4rem;
    }

    .place h3 {
      text-align: center;
      padding: 0rem 3.5rem 3rem 3.5rem;
      font-size: 2rem;
    }

    .place img {
      width: 40%;
      height: auto;
      align-self: center;
      margin-bottom: 2rem;
    }

    button {
      background-color:#000000;
      color:#f0f0f0;
      border-radius: 16px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-size: 1.2rem;
      margin: 0rem 25rem 0rem 25rem;
    }
    
    /* Section 4 */
    
    .home-body4 {
      padding: 10rem 3rem 10rem 3rem;
      text-align: center;
    }
  
    /* Footer */
  
    footer {
      background-color: #000000;
      color:white;
      padding: 2rem;
      display: flex;
      justify-content: space-evenly;
    }
  
    footer h2 {
      font-family: Arial;
      font-size: 1.2rem;
    }
  
    footer a {
      font-size: 1rem;
      color:white;
    }
  
    footer h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width:800px) {
    #menu {
      position:fixed;
    }
      #menu ul {
      background:#111;
      position:absolute;
      top:100%;
      right:0;
      left:0;
      z-index:3;
      height:auto;
      display:none;
    }
      #menu ul.sub-menus {
      width:100%;
      position:static;
    }
      #menu ul.sub-menus a {
      padding-left:30px;
    }
      #menu li {display:block;float:none;width:auto;}
      #menu input, #menu label {
      position:absolute;
      top:0;
      left:0;
      display:block;
    }
      #menu input {
      z-index:3;
    }
      #menu input:checked + label {
      color:white;
    }
      #menu input:checked + label:before {
      content:"\00d7";
    }
      #menu input:checked ~ ul {
      display:block;
    }
  
    .main-home {
      padding: 16.5rem 0rem 16.5rem 0rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/bgAboutMe.jpg);
      background-size:125%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .main-subtitle {
      padding: 1rem 0rem 1rem 0rem;
      text-align: center;
    }
  
    mark {
      background-color:#1a1a1a;
      padding: 1rem 0rem 1rem 0rem;
      color: #ffffff;
      text-align: center;
      font-size: 1.1rem;
      font-weight: bolder;
      font-family: Oswald, Arial;
    }
    
    .main-title {
      margin: 0px;
      position: relative;
      font-family: Impact, 'Arial Narrow Bold', sans-serif;
      font-size: 5rem;
      letter-spacing: 1.4px;
      word-spacing: -4px;
      color: #ffffff;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-transform: none;
    }
  
    /* first section */
  
    .home-body1 {
      padding: 0rem 2rem 0rem 2rem;
      color:rgb(21, 34, 61);
      text-align: center;
    }
  
    .home-body1 h1 {
      font-size: 4rem;
    }
  
    .home-body1 h2 {
      color: #000000;
      font-size: 2rem;
    }
  
    #hb1-h2 {
      display: inline-block;
      padding: .25em 0;
      background: #000000;
      color: #ffffff;
  
    }
  
    
    /* Second Section */
  
    .home-body2 {
      text-align: center;
      padding: 7rem 2rem 7rem 2rem;
    }
  
    .home-body2 h1 {
      font-size: 4rem;
      color:#000000;
    }
  
    .home-body2 h2 {
      color: #000000;
      font-size: 2rem;
    }
  
    .home-body2 img {
      width: 50%;
      height: auto;
    }
  
    .gallery {
      padding: 1rem 0.5rem 2rem 0.5rem;
    }
  
    /* Studies section */

    #studyTitle {
      font-size: 3rem;
      text-align: center;
      padding-bottom: 4rem;
    }

    .study1 {
      color: white;
      padding: 4.5rem 2.5rem 4.5rem 2.5rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/aboutMeComputerScience.jpg);
      background-size:125%;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
    }

    .study1 h2 {
      font-size: 3rem;
    }

    .study1 h3 {
      font-size: 2rem;
    }

    .study2 h2 {
      font-size: 3rem;
    }

    .study2 h3 {
      font-size: 2rem;
    }

    .study2 {
      color: white;
      padding: 4.5rem 2.5rem 4.5rem 2.5rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/aboutMeAppDev.jpg);
      background-size:125%;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
    }

    .places {
      display: flex;
      flex-direction: column;
    }

    .place {
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;
    }

    .place h2 {
      text-align: center;
      padding: 1rem;
      font-size: 3rem;
    }

    .place h3 {
      text-align: center;
      padding: 0.5rem 2rem 2.5rem 2rem;
      font-size: 1.6rem;
    }

    .place img {
      width: 60%;
      height: auto;
      align-self: center;
    }

    button {
      background-color:#000000;
      color:#f0f0f0;
      border-radius: 16px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-size: 1.2rem;
      margin: 0rem 10rem 0rem 10rem;
    }
    
    /* Section 4 */
    
    .home-body4 {
      padding: 0rem 2rem 0rem 2rem;
      text-align: center;
    }
  
    /* Footer */
  
    footer {
      background-color: #000000;
      color:white;
      padding: 2rem;
      display: flex;
      justify-content: space-evenly;
    }
  
    footer h2 {
      font-family: Arial;
      font-size: 1.2rem;
    }
  
    footer a {
      font-size: 1rem;
      color:white;
    }
  
    footer h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width:500px) {
    .spacer {
      padding: 8rem 0rem 8rem;
    }

    #menu {
      position:fixed;
    }
      #menu ul {
      background:#111;
      position:absolute;
      top:100%;
      right:0;
      left:0;
      z-index:3;
      height:auto;
      display:none;
    }
      #menu ul.sub-menus {
      width:100%;
      position:static;
    }
      #menu ul.sub-menus a {
      padding-left:30px;
    }
      #menu li {display:block;float:none;width:auto;}
      #menu input, #menu label {
      position:absolute;
      top:0;
      left:0;
      display:block;
    }
      #menu input {
      z-index:3;
    }
      #menu input:checked + label {
      color:white;
    }
      #menu input:checked + label:before {
      content:"\00d7";
    }
      #menu input:checked ~ ul {
      display:block;
    }
  
    .main-home {
      padding: 18rem 0rem 18rem 0rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/bgAboutMe.jpg);
      background-size:305%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .main-title {
      margin: 0px;
      position: relative;
      font-family: Impact, 'Arial Narrow Bold', sans-serif;
      font-size: 3rem;
      letter-spacing: 1.4px;
      word-spacing: -4px;
      color: #ffffff;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-transform: none;
    }
  
    .home-body1 {
      padding: 0rem 2rem 0rem 2rem;
      color:rgb(21, 34, 61);
      text-align: center;
    }
  
    .home-body1 h1 {
      font-size: 3rem;
    }
  
    .home-body1 h2 {
      color: #000000;
      font-size: 1.5rem;
    }
  
    #hb1-h2 {
      display: inline-block;
      padding: .25em 0;
      background: #000000;
      color: #ffffff;
  
    }
  
    /* Second Section */
  
    .home-body2 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2rem;
      text-align: center;
      padding: 7rem 2rem 7rem 2rem;
    }
  
    .home-body2 h1 {
      font-size: 2rem;
      color:#000000;
    }
  
    .home-body2 h2 {
      color: #000000;
      font-size: 2rem;
    }
  
    .home-body2 img {
      width: 100%;
      height: auto;
      padding-bottom: 1rem;    
    }

    /* Studies section */

    #studyTitle {
      font-size: 2rem;
      text-align: center;
    }

    .study1 {
      color: white;
      padding: 1.5rem 0.3rem 1.5rem 0.3rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/aboutMeComputerScience.jpg);
      background-size:345%;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
    }

    .study2 {
      color: white;
      padding: 1.5rem 0.3rem 1.5rem 0.3rem;
      background: rgba(0, 0, 0, 0.3) url(../Assets/aboutMeAppDev.jpg);
      background-size:405%;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
    }

    .places {
      display: flex;
      flex-direction: column;
    }

    .place {
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
    }

    .place h2 {
      text-align: center;
      padding: 1rem;
      font-size: 2rem;
    }

    .place h3 {
      text-align: center;
      padding: 1.7rem;
    }

    .place img {
      width: 100%;
      height: auto;
    }

    button {
      background-color:#000000;
      color:#f0f0f0;
      border-radius: 16px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-size: 1.2rem;
      margin: 0rem 2rem 0rem 2rem;
    }
  
      
    /* Section 4 */
    
    .home-body4 {
      padding: 0rem 2rem 0rem 2rem;
      text-align: center;
    }
  
    /* Footer */
  
    footer {
      background-color: #000000;
      color:white;
      padding: 2rem;
      display: flex;
      gap: 0.4rem;
    }
  
    footer h2 {
      font-family: Arial;
      font-size: 0.8rem;
    }
  
    footer a {
      font-size: 0.7rem;
      color:white;
    }
  
    footer p {
      margin: 0%;
    }
  
    footer h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.6rem;
    }
  }